@model IEnumerable<Website.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <h1 class="page-header">
        Chào Mừng đến với Trang Admin
        <!-- <small>
        </small> -->
    </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Tác Giả
            </th>
            <th>
                Hình Ảnh
            </th>
            <th>
                Trạng Thái
            </th>
            <th>
                Ngày phát hành
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductAuthor)
            </td>
            <td>
                <img src="~/img/@Html.DisplayFor(modelItem => item.ProductImage)" style="width :100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductReleaseDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { editProduct=item.ProductId}) |
                @Html.ActionLink("Details", "Details", new { /*id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "DeleteProduct", new { delete = item.ProductId })
            </td>
        </tr>
}
    </tbody>
</table>
</div>