@using System.Security.Claims
@model IEnumerable<Website.Models.News>
@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 0;
    }

<div class="page-section mt-3">
    <div class="container">
        <nav aria-label="Breadcrumb">
            <ul class="breadcrumb p-0 mb-0 bg-transparent">
                <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                <li class="breadcrumb-item"><a href="~/Blog">Blog</a></li>
                <li class="breadcrumb-item active">Bản tin</li>
            </ul>
        </nav>

        <div class="row">
            <div class="col-lg-8">
                <div class="blog-single-wrap">
                    @foreach (var item in ViewBag.SingleBlog)
                    {
                        <div class="header">
                            <div class="post-thumb">
                                <img src="~/img/@item.NewsImage" alt="">
                            </div>
                            <div class="meta-header">
                                <div class="post-author">
                                    <div class="avatar">
                                        <img src="~/img/b1c4cedd07881c64da19ce2863937ab5.jpg" alt="">
                                    </div>
                                    by <a href="#">@item.NewsAuthor</a>
                                </div>

                                <div class="post-sharer">
                                    <a href="#" class="btn social-facebook"><span class="mai-logo-facebook-f"></span></a>
                                    <a href="#" class="btn social-twitter"><span class="mai-logo-twitter"></span></a>
                                    <a href="#" class="btn social-linkedin"><span class="mai-logo-linkedin"></span></a>
                                    <a href="#" class="btn"><span class="mai-mail"></span></a>
                                </div>
                            </div>
                        </div>
                    
                        <h1 class="post-title">@item.NewsTitle</h1>
                        <div class="post-meta">
                            <div class="post-date">
                                <span class="icon">
                                    <span class="mai-time-outline"></span>
                                </span> <a href="#">@item.NewsDate</a>
                            </div>
                            <div class="post-comment-count ml-2">
                                <span class="icon">
                                    <span class="mai-chatbubbles-outline"></span>
                                </span>
                                <a href="#">
                                    @(ViewBag.Comment?.Count ?? 0) Bình Luận
                                </a>
                            </div>
                            <div class="post-comment-count ml-2">
                                <span class="icon">
                                    <span class="mai-eye-outline"></span>
                                </span>
                                <a href="#">
                                    @item.NewsView Lượt Xem
                                </a>
                            </div>
                        </div>
                        <div class="post-content">
                            <p>@Html.Raw(item.NewsContent)</p>
                        </div>
                        
                    }
                    
                </div>
                @if (!string.IsNullOrEmpty(TempData["CommentSuccessMessage"]?.ToString()))
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["CommentSuccessMessage"]
                    </div>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <h2 class="">Để lại Bình Luận</h2>
                    <div class="comment-form-wrap pt-5">
                        <form method="post" action="~/Blog/BlogDetail?blog=@ViewBag.SingleBlog[0]?.NewsId" class="">
                            <!-- Đây là form cho người dùng đã đăng nhập -->
                            <div class="media pt-1">
                                <a class="pull-left" href="#">
                                    <img style="width: 64px; height:64px; object-fit:cover; border:1px solid black;" class="media-object img-fluid" src="~/img/@User.FindFirst("UserImage")?.Value" alt="">
                                </a>
                                <div class="media-body">
                                    <h4 style="margin-top: 15px" class="media-heading">
                                        @User.FindFirst("UserFirstName")?.Value
                                        @User.FindFirst("UserLastName")?.Value
                                        <input type="hidden" name="CommentAuthor" value="@User.FindFirst("UserFirstName")?.Value">
                                        <input type="hidden" name="CommentEmail" value="@User.FindFirst(ClaimTypes.Name)?.Value">
                                    </h4>  
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment"></label>
                                <textarea name="CommentContent" id="comment" cols="30" rows="8" class="form-control" required></textarea>
                            </div>
                            <div class="form-group">
                                <form method="post" action="~/Blog/BlogDetail?blog=@ViewBag.SingleBlog[0]?.NewsId">
                                    <input type="hidden" name="create" value="" />
                                    <button class="btn btn-primary" type="submit">Bình Luận</button>
                                </form>
                            </div>
                        </form>
                    </div>
                }
                else
                {
                    <div class="comment-form-wrap pt-5">
                        <h2 class="mb-5">Để lại Bình Luận</h2>
                        <form method="post" action="~/Blog/BlogDetail?blog=@foreach(var item in ViewBag.SingleBlog){@item.NewsId}" class="">
                            <div class="form-row form-group">
                                <div class="col-md-6">
                                    <label for="name">Họ Tên *</label>
                                    <input type="text" class="form-control" id="name" name="CommentAuthor" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" id="email" name="CommentEmail" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="message">Bình Luận</label>
                                <textarea name="CommentContent" id="message" cols="30" rows="8" class="form-control" required></textarea>
                            </div>
                            <div class="form-group">
                                <form method="post" action="~/Blog/BlogDetail?blog=@ViewBag.SingleBlog[0]?.NewsId">
                                    <input type="hidden" name="create" value="" />
                                    <button class="btn btn-primary" type="submit">Bình Luận</button>
                                </form>
                            </div>
                        </form>
                    </div>
                    @if (!string.IsNullOrEmpty(ViewBag.CommentSuccessMessage))
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.CommentSuccessMessage
                        </div>
                    }
                }


                <hr>
                @foreach(var item in ViewBag.Comment)
                {
                    <div class="media pt-5">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                @item.CommentAuthor
                                <span style="font-size: 14px; color: gray;">@item.CommentDate</span>
                            </h4>
                            @item.CommentContent
                        </div>

                    </div>
                }

            </div>
            <div class="col-lg-4">
                <div class="widget">
                    <!-- Widget search -->
                    <div class="widget-box">
                        <form action="~/Blog/SearchResults" class="search-widget" method="post">
                            <input type="text" class="form-control" placeholder="Enter keyword.." name="searchKeyword">
                            <button type="submit" class="btn btn-primary btn-block">Search</button>
                        </form>
                    </div>

                    <!-- Widget Categories -->
                    <div class="widget-box">
                        <h4 class="widget-title">Category</h4>
                        <div class="divider"></div>

                        <ul class="categories">
                            @foreach (var item in ViewBag.CategoryNews)
                            {
                                <li><a href="~/Blog/Category?category=@item.NewsCategoryId">@item.NewsCategoryTitle</a></li>
                            }
                        </ul>
                    </div>

                    <!-- Widget recent post -->
                    <div class="widget-box">
                        <h4 class="widget-title">Tin Mới</h4>
                        <div class="divider"></div>
                        @foreach(var item in ViewBag.NewNews)
                        {
                            if(count < 3)
                            {
                                <div class="blog-item">
                                    <a class="post-thumb" href="#">
                                        <img src="~/img/@item.NewsImage" alt="">
                                    </a>
                                    <div class="content">
                                        <h6 class="post-title"><a href="~/Blog/BlogDetail?blog=@item.NewsId">@item.NewsTitle</a></h6>
                                        <div class="meta">
                                            <a href="#"><span class="mai-calendar"></span>@item.NewsDate</a>
                                            <a href="#"><span class="mai-eye"></span> @item.NewsView</a>
                                            <a href="#"><span class="mai-chatbubbles"></span> @(ViewBag.Comment?.Count ?? 0)</a>
                                        </div>
                                    </div>
                                </div>
                                 count++;
              
                            }
                        }

                    </div>

                    <!-- Widget Tag Cloud -->
                    <div class="widget-box">
                        <h4 class="widget-title">Tag Cloud</h4>
                        <div class="divider"></div>

                        <div class="tag-clouds">
                            <a href="#" class="tag-cloud-link">Projects</a>
                            <a href="#" class="tag-cloud-link">Design</a>
                            <a href="#" class="tag-cloud-link">Travel</a>
                            <a href="#" class="tag-cloud-link">Brand</a>
                            <a href="#" class="tag-cloud-link">Trending</a>
                            <a href="#" class="tag-cloud-link">Knowledge</a>
                            <a href="#" class="tag-cloud-link">Food</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

